<div class="container">
  <h1>URL Shortener!</h1>

  <form id="url_short" action="/urls" method="post">
  <p>Welcome, enter URL </p>  
  <input type="text" name="full_url">
  <input type="submit" value="shorten url!">
  </form>

  <% if @short%>
    <p><a href="<%=@short%>">localhost:9393/<%=@short%></a></p>
  <%end%>

 <% if @bad_url%>
    <p>That url is incorrectly formatted! Please try again.</p>
  <%end%>
</div>

<div class="container">

  <% if session[:user_id]!= nil %>
    <%= erb :_logout %>
  <% else %> 
    <h3>Create a profile</h3>
    
  
    <h2>Create a new user:</h2>
    
    <form action="/create_user" method="post">
      <p>User Name:</p>
      <p><input type="text" name="user_name"></p>
      <p>First Name:</p>
      <p><input type="text" name="first_name"></p>
      <p>Last Name:</p>
      <p><input type="text" name="last_name"></p>
      <p>Email:</p>
      <p><input type="text" name="email"></p>
      <p>Password:</p>
      <p><input type="password" name="password"></p>
      <p><input type="submit" value="Create User">
    </form>
    
    <% if @user_success==true %>
      <p>User successfully created</p>
    <% elsif @user_success==false %>
      <p>User information is invalid! Try again</p>
    <% end %>
    
    <h3>User Login</h3>
      <form action="/login" method="post">
        <p>Email:</p>
        <p><input type="text" name="email"></p>
        <p>Password:</p>
        <p><input type="password" name="password"></p>
        <p><input type="submit" value="Login">
      </form>
  <%end%>
  <% if @user_login_success==true %>
    <p>Logged in!</p>
  <% elsif @user_login_success==false %>
    <p>Email/password combination invalid. Try again</p>
  <% end %>

</div>
